:root
{
       /* ==== THREE MORE VARIABLES */
       --container-width-lg: 88%;       /* -- Width of the container class on large devices -- */

       --container-width-md: 92%;       /* --Width of the container class on small devices-- */


       --transition:all 400ms ease;

}
*{
    margin:0%;
    padding:0%;
    outline:0ch;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    background-color:antiquewhite



}

html
{
    scroll-behavior:smooth
}
body
{
    font-family:"Montserrat",sans-serif;
    background:var(--color-bg-3);
    color:var(var(--color-light));
    line-height:1.7;
}



h1,h2
{
    line-height:1.1;
    font-weight:400;
}

h1
{
    font-size:4rem;
    color:var(--color-white);
}

h2
{
    font-size:3.5rem;
}
a
{
    color:var(--color-light);
    transition:var(--transition);
}

a:hover
{
    color:var(--color-primary)
}

.container
{
    width:var(--container-width-lg);
    margin:0 auto;
    max-width: 2160px;
}

img
{
    display:block;
    object-fit:cover;
    width:40%;
}

/* ------------------------------nav------------------------- */

nav
{
    height: 5rem;
    width:100vw;
    display:grid;
    place-items:center;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
}

/* ---------nav class on scroll using javaScript */
.window-scrolled
{
    /* background:var(--color-bg-2); */
    /* border-bottom:0.2rem solid var(--color-bg-3); */
    /* box-shadow:0 1rem 1rem rgba(0,0,0,0.3) */
}

.nav__container
{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center
}



/* only needs on tablets and phones */
.nav__toggle-btn
{
    display:none;
}

.nav__logo
{
    width: 7.5em;
}

.nav__links
{
    display:flex;
    gap: 55px;
}

.nav__socials
{
    display:flex;
    gap:1rem;
}

/* ================  header  ================== */
header
{
    width:100vw;
    height:100vh;
    position:relative;
    top:0;
    background:linear-gradient(var(--colo/r-bg-3),var(--color-bg-1));
    /* overflow:hidden; ----->  stop to scroll the screen*/
}

.header__container
{
    display:grid;
    grid-template-columns:40% 50%;
    gap:10%;
    margin-top:10rem;
    position:relative;
}


.header__btn-md
{
    /* background-color:lightcoral; */
    height:8vh;
    padding: 20px;
    border-radius:2.5vh;
    position:relative;
    width:40vh;
    padding-left:7vh;
}

.header__btn
{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
     background-color:blanchedalmond   ;
     background-color:coral;
     height: 2px;
     position:relatine


}
.bt
{
    height:10vh;
    width:40vh;
    display:flex



}